<h1 id="tableLabel1">Teczka Scans</h1>
<p>This component demonstrates fetching data from the MySQL server.</p>

<p *ngIf="!scans"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel1" *ngIf="scans">
  <thead>
    <tr>
      <th>Id</th>
      <th>SectionId</th>
      <th>UserId</th>
      <th>Page</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let scan of scans">
      <td>{{ scan.id }}</td>
      <td>{{ scan.sectionId }}</td>
      <td>{{ scan.userId }}</td>
      <td>{{ scan.page }}</td>
      <td>{{ scan.created }}</td>
      <td>{{ scan.updated }}</td>
    </tr>
  </tbody>
</table>
