<div class="container printable">
  <h1 id="tableLabel1">Teczka: users</h1>
  <p>Przeglądanie tablic bazy danych MySQL</p>

  <p *ngIf="!users"><em>Loading...</em></p>
  <table class='table table-striped' aria-labelledby="tableLabel1" *ngIf="users">
    <thead>
      <tr>
        <th>Id</th>
        <th>Role</th>
        <th>Level</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.level }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
      </tr>
    </tbody>
  </table>
</div>
