<div class="container printable">
  <h1 id="tableLabel1">Teczka: users</h1>
  <p>Przeglądanie tablic bazy danych MySQL</p>

  <p *ngIf="!users"><em>Loading...</em></p>
  <table class='table table-striped' aria-labelledby="tableLabel1" *ngIf="users">
    <thead>
      <tr>
        <th>Id</th>
        <th>RoleName</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Password</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.roleName }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.passwordHash==null ? user.tempPassword : 'encrypted' }}</td>
        <td>{{ (user.updated==null ? user.created : user.updated).substring(0,10) }}</td>
      </tr>
    </tbody>
  </table>
</div>
