<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed no-printable">
  <div class="container">
    <h1 class="{blue: highlight}"></h1>
    <a class="navbar-brand" routerLink="/" (click)="refresh()" style="color: silver; cursor: pointer;">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
        </svg>
      </div>
    </a>
    <button class="navbar-toggler" type="button" (click)="open = !open">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [class.show]="open">
      <ul class="navbar-nav">
        <li *ngIf="loggedIn" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownE" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="onDropdownE()">
            Operacje
          </a>
          <div class="dropdown-menu" [class.dropdown-show]="ariaE" aria-labelledby="navbarDropdownA">
            <a class="dropdown-item" routerLink="/available" (click)="refresh()">Indesuj</a>
            <a class="dropdown-item" routerLink="/classificate" (click)="refresh()">Klasyfikuj</a>
            <a *ngIf="isAdmin" class="dropdown-item" routerLink="/generate" (click)="refresh()">Generuj JSON</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownA" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="onDropdownA()">
            Tablice
          </a>
          <div class="dropdown-menu" [class.dropdown-show]="ariaA" aria-labelledby="navbarDropdownA">
            <a *ngIf="isAdmin" class="dropdown-item" routerLink="/get-users" (click)="refresh()">Get Users</a>
            <div *ngIf="isAdmin" class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/get-roles" (click)="refresh()">Get Roles</a>
            <a class="dropdown-item" routerLink="/get-articles" (click)="refresh()">Get Articles</a>
            <a class="dropdown-item" routerLink="/get-sections" (click)="refresh()">Get Sections</a>
            <a class="dropdown-item" routerLink="/get-classes" (click)="refresh();">Get Classes</a>
            <a class="dropdown-item" routerLink="/get-persons" (click)="refresh();">Get Persons</a>
            <a class="dropdown-item" routerLink="/get-scans" (click)="refresh();">GetScans</a>
            <a class="dropdown-item" routerLink="/get-indexes" (click)="refresh()">Get Indexes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/fetch-data" (click)="refresh()">Random Data</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownI" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="onDropdownI()">
            Informacje
          </a>
          <div class="dropdown-menu" [class.dropdown-show]="ariaI" aria-labelledby="navbarDropdownI">
            <a class="dropdown-item" routerLink="/help" (click)="refresh()">Szczegóły</a>
            <a class="dropdown-item" routerLink="/contact" (click)="refresh()">Kontakt</a>
            <a class="dropdown-item" routerLink="/server" (click)="refresh()">Serwer</a>
          </div>
        </li>
      </ul>
      
    </div>
    <div class="d-flex align-items-right ">
      <a
        class="px-3" style="color:silver; cursor: pointer;"
        id="navbarDropdownU" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" (click)="onDropdownU()">
        <div *ngIf="!loggedIn">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
          </svg>
        </div>
        <div *ngIf="loggedIn">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
          </svg>
        </div>
      </a>
      <div class="dropdown-menu" [class.dropdown-show]="ariaU" aria-labelledby="navbarDropdownU" style="margin-top: 32px; margin-left: -100px;">
        <a *ngIf="!loggedIn" class="dropdown-item" routerLink="/login" (click)="refresh(true)">Logowanie</a>
        <a *ngIf="loggedIn" class="dropdown-item" routerLink="/" (click)="logout()">Wylogowanie</a>
        <a *ngIf="loggedIn" class="dropdown-item" routerLink="/personal" (click)="refresh(true)">Zmiana danych</a>
        <a *ngIf="loggedIn" class="dropdown-item" routerLink="/password" (click)="refresh(true)">Zmiana hasła</a>
    </div>
</div>
  </div>
</nav>
