<div class="card">
  <!-- <h4 class="card-header">Logowanie</h4> -->
  <h1>Tworzenie indeksu nazwisk w "teczce"</h1>
  <div class="card-body">
    <p>
      Aby przeprowadzać indeksowanie nazwisk musisz się zarejestrować. A jeżeli jesteś już zarejestrowany - zalogować.
    </p>
    <p>
      Potem w menu klikasz na "Indeksuj".
    </p>
    <p>
      Wybierz sekcję, stronę w ramach sekcji. Po lewej stronie w nowym oknie pojawi się podgląd dokumentu z "teczki" (https://teczka.sarata.pl).
      Jeżeli w dokumencie widzisz nazwiska - wybierz je po kolei z combo boxa. Wybór zatwierdź klawiszem ze znakiem <b>✔</b>.
    </p>
    <p>
      Jeżeli na stronie "teczki" widzisz nazwisko, którego nie ma w bazie danych - dodaj je uzywając klawisza <b>Dodaj nazwisko</b>.
    </p>
    <p>
      Wybrane nazwiska są dodawane do listy. Omyłkowo dodane nazwisko można przed zapisem usunąć z listy usunąć. Wystarczy je klinkąć.
    </p>
    <p>
      Zanim klikniesz na klawisz "Zapis indeks.." upewnij się, że lista nazwisk występujacych a stronie jest kompletna
      i nie na na niej osób przypadkowych. Późniejsza korekta nie będzie możliwa bez ingerencji administratora strony.
    </p>
    <p>
      Efekt końcowy w postaci indeksu nazwisk na stroie <a href="https://teczka.sarata.pl" target="_blank">teczka.sarata.pl</a>
      nie będzie widoczny od razu. Stworzenie go oraz jego adktualizacja wymagają wykonania odpowiednich operacji przez
      administratora strony.
    </p>
    <hr/>
    <div class="help-aera">
      <div class="help-image">
        <img src="@/../../../../assets/under-construction.jpg" width="204" height="86"/>
      </div>
      <div class="help-text">
        <p>
          Moje pierwsze wdrożenie aplikacji .Net Core na serwerze Linuxa z bazą danych MySQL. Strona jest funkcjonalna o tyle,
          że uruchomiona jest rejestracja i logowanie użytkownika. Działają podstawowe fukcja - zapis nazwisk do bazy danych indeksów
          oraz generowanie plku JSON do wklejenia na stronie <a href="https://teczka.sarata.pl" target="_blank">teczka.sarata.pl</a>.
          Trwają natomiast prace wykończeniowe - nad wyglądem, odświeżaniem w oknie przeglądarki i odświeżaniem tokenów JWT.
        </p>
      </div>
    </div>
  </div>
</div>