<div class="container printable">
  <h1 id="tableLabel1">Teczka: Indexes</h1>
  <p>Przeglądanie tablic bazy danych MySQL</p>

  <p *ngIf="!indexes"><em>Loading...</em></p>
  <div class="input-group mb-3">
    <pagination-controls
      previousLabel=""
      nextLabel=""
      (pageChange)="handlePageChange($event)">
    </pagination-controls>
    <div style="margin-left:30px;">
      Ilość wierszy na stronie:
      <select (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
    <div style="margin-left:30px;">
      Ilość rekordów: {{ count }}
    </div>
  <!-- responsive="true" -->
    <table class='table table-striped' aria-labelledby="tableLabel1" *ngIf="indexes">
      <thead>
        <tr>
          <th>Id</th>
          <th>PersonId</th>
          <th>ScanId</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let index of indexes  | paginate: {
          itemsPerPage: pageSize, currentPage: page, totalItems: count }">
          <td>{{ index.id }}</td>
          <td>{{ index.personId }}</td>
          <td>{{ index.scanId }}</td>
          <td>{{ index.created }}</td>
          <td>{{ index.updated }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>