<div class="container printable">
  <h1 id="tableLabel1">Teczka: Persons</h1>
  <p>Przeglądanie tablic bazy danych MySQL</p>

  <p *ngIf="!persons"><em>Loading...</em></p>

  <div *ngIf="groups">
    <div>Liczebność kategorii: 
      <span *ngFor="let group of groups; let i = index">
        <span *ngIf="i>0">, </span>
        <span>{{group.class}}: </span>
        <span>{{group.count}}</span>
      </span>
    </div>
    <br/>
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Wyszukaj nazwiska lub imiona"
      [(ngModel)]="last"
    />
    <div class="input-group-append">
      <button
        class="btn btn-primary" type="button" style="margin-left: 20px;" (click)="searchLast()">
        Wyszukaj
      </button>
    </div>
  </div>
  <div class="input-group mb-3">
    <pagination-controls
      previousLabel=""
      nextLabel=""
      (pageChange)="handlePageChange($event)">
    </pagination-controls>
    <div style="margin-left:30px;">
      Ilość wierszy na stronie:
      <select (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
    <div style="margin-left:30px;">
      Ilość rekordów: {{ count }}
    </div>
  <!-- responsive="true" -->
  <table class='table table-striped' aria-labelledby="tableLabel1" *ngIf="persons">
    <thead>
      <tr>
        <th>Id</th>
        <th>Class</th>
        <th>Last</th>
        <th>First</th>
        <th>User ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons  | paginate: {
        itemsPerPage: pageSize, currentPage: page, totalItems: count }">
        <td>{{ person.id }}</td>
        <td>{{ person.class }}</td>
        <td>{{ person.last }}</td>
        <td>{{ person.first }}</td>
        <td>{{ person.userId }}</td>
      </tr>
    </tbody>
  </table>
</div>
